@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');


*{
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

body {
	background-image: linear-gradient(to bottom, #ffffff, transparent);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 62.5%;
}

header{
	position: relative;
	z-index: 5;
	box-shadow: 0px 3px 6px #9b9a9a;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
  }
  
  a:hover,
  a:visited,
  a:link,
  a:active {
	color: inherit;
	text-decoration: none;
  }
/*Partie_1 En-tête*/

.texte_animation{
		text-transform: uppercase;
		background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#44107a 29%,
		#ff7f00 67%,
		#ff7f00 100%
		);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		/* text-fill-color: transparent; */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 2s linear infinite;
		display: inline-block;
		font-size: 50px;
	}
	@keyframes textclip {
		to {
		background-position: 200% center;
		}
}
.titre{
	background-color: #ffffff;
	display: flex;
	align-items: center;
}
.logoBabo img{
	width: 25%;
	/* background-color: #04284c; */
	margin-left: 61%;
}
nav{
	/* align-items: center; */
	/* height: 8vh; */
	width:auto;
	background-color: #08013c;
	margin-left: 20%;
	margin-right: 20%;
	display: flex;
	justify-content: center;
	border-radius: 24px;
	
}
/* nav img{
	width: 50px;
} */

nav ul {
	/* justify-content: left; */
	display: flex;
	list-style-type:none;
	/* padding-left: 0; */
}
nav ul li{
	padding: 10px;
	margin-right: 10px;
	/* background-color: #ff7f00; */
	font-weight: bold;
	font-size: medium;
	color:#ffffff;
	/* border-radius: 24px;
	opacity:10%; */
}

nav ul li:hover{
	background-color: #ff7f00;
}



.head_1{
	position:relative;
	padding-top:10px;
	/* margin:0; */
	text-align: center;
	height: 4vh;
	width:auto;
	background-color: #08013c;
	overflow: hidden;
	
}

.head_1 span{
	color:#ffffff;
	font-weight: bold;
	font-size:medium;
	display: inline-block;
	white-space: nowrap;
	animation: scroll 20s linear infinite;
}

@keyframes scroll {
	0% { transform: translateX(100%); }
	100% { transform: translateX(-100%); }
  }

.head_2{
	padding-top: 25px;
	text-align: left;
	height: 25vh;
	width:auto;
	background-color: #ffffff;
	overflow: hidden;
}

.head_3{
	text-align: left;
	height: 20vh;
	width:auto;
	background-color: #ffffff;
	margin-left: 20%;
	margin-right: 20%;
	/* position:fixed; */
}

.head_3 h1{
		font-weight: bold;
		font-size: xx-large;
}

.head_3 button{
	width: 15%;
    /* padding: 10px 130px; */
    border: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #B32431;
    padding-top: 16px;
    padding-bottom: 16px;
	margin:15px;
	padding: 15px;
    font-weight: bold;
    font-size: medium;
    border-radius: 24px;
    text-align: center;
}

.head_3 button:hover {
    background-color:#ff7f00;
 }

 section{
	height: 5vh;
	/* width:40%; */
	background-color: #ffffff;
	/* border-radius: 24px; */
	text-align: center;
	color:#d7d5d5;
	padding: 4px;
}
section ul {
	justify-content: left;
	display: flex;
	list-style-type:none;
	padding-left: 0;
}
section ul li{
	padding: 5px;
	margin-right: 10px;
}

/***********************************************/
/*=================Body Style========================*/
/*********************************************/
.zone_1{
	position:relative;
	left:20%;
	/* right:10%; */
	align-items: center;
	/* top:5%; */
	padding-top: 300px;
	width: 850px;
	height: auto;
	/* background-color: #f5f5f5; */
	justify-content: center;
	/* z-index: 1; */
	overflow: hidden;
	/* overflow: scroll; */
}

.contenu_1{
	margin-top:100px;
	position: relative;
    left: 50%;
	width: 600px;
	height: auto;
    transform: translate(-50%, -50%);
	background-color:#ffffff;
	border-radius: 24px;
	padding: 5%;
	box-shadow: 6px 6px 8px #9b9a9a;
}

.contenu_1 h2{
	font-weight: bold;
	font-size:xx-large;
	text-align: start;
}

.contenu_1 ul{
	padding-top: 5%;
	font-size: 20px;
	text-align: start;
}

.contenu_1 p{
	padding-top: 5%;
	font-size: 20px;
	text-align: start;
}

.contenu_1 button{
	width: auto;
    border-radius: 10px;
    /* padding: 10px 130px; */
    border: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #B32431;
    padding-top: 16px;
    padding-bottom: 16px;
	margin:15px;
	padding: 15px;
    font-weight: bold;
    font-size: medium;
    border: 1px solid #04284C;
    border-radius: 24px;
    text-align: center;
}

.contenu_1 button:hover {
    background-color:#04284C;
 }


.contenu_2{
	/* margin-top:100px; */
	/* text-align: center; */
	/* display:flex; */
    /* left: 50%; */
	display:inline-flex;
	width: auto;
	height: auto;
    /* transform: translate(-50%, -15%); */
	/* background-color:#ffffff; */
	/* border-radius: 24px; */
	/* padding: 5%; */
	/* box-shadow: 6px 6px 8px #9b9a9a; */
	/* margin-top: 5%;
	margin-right: 5%;*/
	margin-bottom: 5%;
}

.Box_Offre{
	margin-left: 10px;
	color:#ffffff;
	/* margin-top:100px; */
	/* text-align: center; */
	position: relative;
    /* left: 50%; */
	width: 250px;
	height: 200px;
    /* transform: translate(-50%, -15%); */
	background-color:#08013c;
	border-radius: 24px;
	padding: 25px;
	box-shadow: 6px 6px 8px #9b9a9a;
}

.Box_Offre h2{
	font-weight: bold;
	font-size:xx-large;
	/* text-align: center; */
}


.Box_Offre p{
	padding-top: 5%;
	margin-bottom: 20%;
	font-size: 20px;
	/* text-align: center; */
}

.Box_Offre button{
	width: auto;
    /* padding: 10px 130px; */
    border: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #B32431;
    padding-top: 16px;
    padding-bottom: 16px;
	margin:15px;
	padding: 15px;
    font-weight: bold;
    font-size: medium;
    border-radius: 24px;
    text-align: center;
}

.Box_Offre button:hover {
    background-color:#ff7f00;
 }
/*=========Style Footer pied de page========*/
/*=========================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed{
	/* position: fixed; */
	bottom: 0;
	left: 0;
	right: 0;
	background: #08013c;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #ffffff;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ff7f00;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	/* background-color:  #33383b; */
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color:#ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #ffffff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ff7f00;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ff7f00;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
